:root {
  --white-text: rgba(255, 255, 255, 1);
  --white-text-op06: rgba(255, 255, 255, 0.6);
  --black-text: rgba(33, 33, 33, 1);
  --grey-text: rgba(117, 117, 117, 1);
  --blue-text: rgba(33, 150, 243, 1);

  --white-background: rgba(236, 236, 236, 1);
  --grey-background: rgba(47, 48, 58, 1);
  --light-grey-background: rgba(245, 244, 250, 1);
}
